body { background: #d2d2c1 url('imagens/fundo.png');
		font: 20px Arial, helvetica, sans-serif;
}

#principal {
			width: 900px;
 }

 #menu {  background: #c5c5b2;
 			padding: 20px;
}

#conteudo {  background: #e8e8d9;
			padding: 15px;
}

.centralizar { 
				text-align: center;
 }

 .img-campanha { border: 35px solid #c3c3ae; }

 h1 { color: #828271; 
 		font-size: 1.5em;



 }

a { color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 7px;
 }